.client-list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: fit-content;
}

.client-heading {
    font-size: 36px;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 72px;
    color: white;
}

.google {
    width: 100px;
    height: auto;
    margin-right: 90px;
    cursor: pointer;
}

.google path {
    transition: 0.2s;
    fill: #2F2F2F;
}

.google:hover path {
    fill: white;
}