.client-list-container {
    width: 80%;
    position: relative;
    overflow: hidden;
    margin: auto;
}

.client-list {
    display: flex;
    width: fit-content;
    animation: logoAnim 14s linear infinite;
}

.client-list:hover {
    animation-play-state: paused;
}

@keyframes logoAnim {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-50%);
    }
}

.client-heading {
    font-size: 36px;
    font-weight: 500;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 72px;
    color: white;
}

.client-list :nth-child(7) {
    height: 45px;
    width: auto;
}

.client-list :nth-child(8) {
    height: 45px;
    width: auto;
}

.client-list :nth-child(15) {
    height: 45px;
    width: auto;
}

.client-list :nth-child(16) {
    height: 45px;
    width: auto;
}

.client-list img {
    margin-right: 100px;
}

@media only screen and (max-width: 600px) {
    .client-list img {
        margin-right: 50px;
        height: 30px;
        width: auto;
    }
    .client-list :nth-child(7) {
        height: 30px;
        width: auto;
    }
    
    .client-list :nth-child(8) {
        height: 30px;
        width: auto;
    }
    
    .client-list :nth-child(15) {
        height: 30px;
        width: auto;
    }
    
    .client-list :nth-child(16) {
        height: 30px;
        width: auto;
    }
}