.features-section {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 9px;
}

.features-section h2 {
    font-size: 32px;
    font-weight: 500;
    line-height: 39px;
    letter-spacing: 0em;    
    margin-bottom: 97px;
}

.features-container {
    position: relative;
    width: 100%;
    height: 638px;
}

.features-menu {
    display: flex;
    justify-content: center;
    height: fit-content;
    width: fit-content;
    position: absolute;
    right: 0px;
}

.features-options {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: white;
    width: fit-content;
    margin-right: 121px;
}

.features-options a {
    display: inline-block;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;      
    letter-spacing: 0em;
    color: #B897E6;
    margin-left: 18px;
    margin-top: 66px;
    margin-bottom: 22px;
    text-decoration: none;
    transition: 0.2s;
    position: relative;
}

.features-options a::after {
    content: "";
    position: absolute;
    right: -43px;
    top: 25%;
    background-image: url('../images/links-arrow.png');
    background-size: 100%;
    width: 18px;
    height: 16px;
}

.feature1 {
    width: fit-content;
    display: flex;
    align-items: center;
    color: #A1A1A1;
    cursor: pointer;
    background: transparent;
    padding: 13px 38px 16px 18px;
    border-radius: 100px;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;  
    color: #3C3C3C;  
    transition: 0.3s;
}

.feature2 {
    width: fit-content;
    display: flex;
    align-items: center;
    color: #A1A1A1;
    margin-top: 28px;
    cursor: pointer;
    background: transparent;
    padding: 13px 38px 16px 18px;
    border-radius: 100px;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;  
    color: #3C3C3C; 
    transition: 0.3s;
}

.feature3 {
    width: fit-content;
    display: flex;
    align-items: center;
    color: #A1A1A1;
    margin-top: 28px;
    cursor: pointer;
    background: transparent;
    padding: 13px 38px 16px 18px;
    border-radius: 100px;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;  
    color: #3C3C3C; 
    transition: 0.3s;
}

.feature4 {
    width: fit-content;
    display: flex;
    align-items: center;
    color: #A1A1A1;
    margin-top: 28px;
    cursor: pointer;
    background: transparent;
    padding: 13px 38px 16px 18px;
    border-radius: 100px;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;  
    color: #3C3C3C; 
    transition: 0.3s;
}

.feature1:hover{
    width: fit-content;
    display: flex;
    align-items: center;
    background: linear-gradient(95deg, #B897E6 -32.57%, rgba(104, 104, 104, 0) 76.13%);
    border-radius: 100px;
    color: white;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    color: #B897E6;  
}

.feature2:hover{
    width: fit-content;
    display: flex;
    align-items: center;
    background: linear-gradient(95deg, #B897E6 -32.57%, rgba(104, 104, 104, 0) 76.13%);
    border-radius: 100px;
    color: white;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    color: #B897E6;  
}

.feature3:hover{
    width: fit-content;
    display: flex;
    align-items: center;
    background: linear-gradient(95deg, #B897E6 -32.57%, rgba(104, 104, 104, 0) 76.13%);
    border-radius: 100px;
    color: white;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    color: #B897E6;  
}

.feature4:hover{
    width: fit-content;
    display: flex;
    align-items: center;
    background: linear-gradient(95deg, #B897E6 -32.57%, rgba(104, 104, 104, 0) 76.13%);
    border-radius: 100px;
    color: white;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    color: #B897E6;  
}

.feature1-active {
    width: fit-content;
    display: flex;
    align-items: center;
    background: linear-gradient(95deg, #B897E6 -32.57%, rgba(104, 104, 104, 0) 76.13%);
    border-radius: 100px;
    padding: 13px 38px 16px 18px;
    color: #B897E6;    
}

.feature-active {
    width: fit-content;
    display: flex;
    align-items: center;
    background: linear-gradient(95deg, #B897E6 -32.57%, rgba(104, 104, 104, 0) 76.13%);
    border-radius: 100px;
    padding: 13px 38px 16px 18px;
    margin-top: 28px;
    color: #B897E6;    
}

.feature1:hover .feature-icon {
    border-radius: 50%;
    width: 52px;
    height: 52px;
    opacity: 0.7;
    border: 2px solid #7B44C7;
    background-color: transparent;
    margin-right: 25px;

}

.feature2:hover .feature-icon {
    border-radius: 50%;
    width: 52px;
    height: 52px;
    opacity: 0.7;
    border: 2px solid #7B44C7;
    background-color: transparent;
    margin-right: 25px;

}

.feature3:hover .feature-icon {
    border-radius: 50%;
    width: 52px;
    height: 52px;
    opacity: 0.7;
    border: 2px solid #7B44C7;
    background-color: transparent;
    margin-right: 25px;

}

.feature4:hover .feature-icon {
    border-radius: 50%;
    width: 52px;
    height: 52px;
    opacity: 0.7;
    border: 2px solid #7B44C7;
    background-color: transparent;
    margin-right: 25px;

}

.feature1-active > .feature-icon {
    border-radius: 50%;
    width: 52px;
    height: 52px;
    opacity: 0.7;
    border: 2px solid #7B44C7;
    background-color: transparent;
    margin-right: 25px;
}

.feature-active > .feature-icon {
    border-radius: 50%;
    width: 52px;
    height: 52px;
    opacity: 0.7;
    border: 2px solid #7B44C7;
    background-color: transparent;
    margin-right: 25px;
}

.feature-icon {
    border-radius: 50%;
    width: 52px;
    height: 52px;
    background: rgba(184, 151, 230, 1);
    opacity: 0.7;
    margin-right: 25px;
    transition: 0.3s;
    background: transparent;
}

.site-mockup {
    width: 907px;
    height: 638px;
    border-radius: 30px 0px 0px 0px;
    position: relative;
    z-index: -1;
}

.site-mockup img {
    width: 907px;
    height: 638px;
    border-radius: 30px 0px 0px 0px; 
}

.site-mockup-gradient {
    width: 907px;
    height: 638px;
    border-radius: 30px 0px 0px 0px;
    position: absolute;
    bottom: 0;
    right: 0;
    background: linear-gradient(to top, #000000 0%, rgba(38, 38, 38, 0) 100%);
    z-index: 2;
}