.features-section {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 240px;
}

.features-section h2 {
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 75px;
}

.features-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    width: 100%;
}

.features-options {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: white;
    width: 365px;
    margin-right: 60px;
}

.features-options a {
    display: inline-block;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #7C83FD;
    margin-left: 10px;
    margin-top: 43px;
    margin-bottom: 47px;
    text-decoration: none;
    transition: 0.2s;
}

.features-options a:hover {
    color: #5a62f9;
}

.feature1 {
    width: fit-content;
    display: flex;
    align-items: center;
    color: #A1A1A1;
    margin-top: 25px;
    cursor: pointer;
    background: linear-gradient(90.42deg, rgba(104, 104, 104, 0) -26.57%, rgba(104, 104, 104, 0) 94.13%);
    padding: 11px 38px 11px 14px;
    border-radius: 100px;
    transition: 0.3s;
}

.feature2 {
    width: fit-content;
    display: flex;
    align-items: center;
    color: #A1A1A1;
    margin-top: 25px;
    cursor: pointer;
    background: linear-gradient(90.42deg, rgba(104, 104, 104, 0) -26.57%, rgba(104, 104, 104, 0) 94.13%);
    padding: 11px 38px 11px 14px;
    border-radius: 100px;
    transition: 0.3s;
}

.feature3 {
    width: fit-content;
    display: flex;
    align-items: center;
    color: #A1A1A1;
    margin-top: 25px;
    cursor: pointer;
    background: linear-gradient(90.42deg, rgba(104, 104, 104, 0) -26.57%, rgba(104, 104, 104, 0) 94.13%);
    padding: 11px 38px 11px 14px;
    border-radius: 100px;
    transition: 0.3s;
}

.feature4 {
    width: fit-content;
    display: flex;
    align-items: center;
    color: #A1A1A1;
    margin-top: 25px;
    cursor: pointer;
    background: linear-gradient(90.42deg, rgba(104, 104, 104, 0) -26.57%, rgba(104, 104, 104, 0) 94.13%);
    padding: 11px 38px 11px 14px;
    border-radius: 100px;
    transition: 0.3s;
}

.feature1:hover{
    width: fit-content;
    display: flex;
    align-items: center;
    background: linear-gradient(90.42deg, rgba(104, 104, 104, 1) -26.57%, rgba(104, 104, 104, 0) 94.13%);
    border-radius: 100px;
    padding: 15px 38px 15px 18px;
    color: white;
}

.feature2:hover{
    width: fit-content;
    display: flex;
    align-items: center;
    background: linear-gradient(90.42deg, #686868 -26.57%, rgba(104, 104, 104, 0) 94.13%);
    border-radius: 100px;
    padding: 15px 38px 15px 18px;
    color: white;
}

.feature3:hover{
    width: fit-content;
    display: flex;
    align-items: center;
    background: linear-gradient(90.42deg, #686868 -26.57%, rgba(104, 104, 104, 0) 94.13%);
    border-radius: 100px;
    padding: 15px 38px 15px 18px;
    color: white;
}

.feature4:hover{
    width: fit-content;
    display: flex;
    align-items: center;
    background: linear-gradient(90.42deg, #686868 -26.57%, rgba(104, 104, 104, 0) 94.13%);
    border-radius: 100px;
    padding: 15px 38px 15px 18px;
    color: white;
}

.feature-active{
    width: fit-content;
    display: flex;
    align-items: center;
    background: linear-gradient(90.42deg, #686868 -26.57%, rgba(104, 104, 104, 0) 94.13%);
    border-radius: 100px;
    padding: 15px 38px 15px 18px;
    margin-top: 25px;
    color: white;
}

.feature1:hover .feature-icon {
    border-radius: 50%;
    width: 52px;
    height: 52px;
    background-color: #7C83FD;
    opacity: 0.7;
    margin-right: 25px;

}

.feature2:hover .feature-icon {
    border-radius: 50%;
    width: 52px;
    height: 52px;
    background-color: #7C83FD;
    opacity: 0.7;
    margin-right: 25px;

}

.feature3:hover .feature-icon {
    border-radius: 50%;
    width: 52px;
    height: 52px;
    background-color: #7C83FD;
    opacity: 0.7;
    margin-right: 25px;

}

.feature4:hover .feature-icon {
    border-radius: 50%;
    width: 52px;
    height: 52px;
    background-color: #7C83FD;
    opacity: 0.7;
    margin-right: 25px;

}

.feature-active > .feature-icon {
    border-radius: 50%;
    width: 52px;
    height: 52px;
    background-color: #7C83FD;
    opacity: 0.7;
    margin-right: 25px;
}

.feature-icon {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: #686868;
    opacity: 0.7;
    margin-right: 21px;
    transition: 0.3s;
}

.site-mockup {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    background-position: center center;
    width: 906px;
    height: 504px;
    border: 1px solid white;
    border-radius: 20px;
}

.site-mockup img {
    width: 886px;
    height: 484px;
    border-radius: 20px;
}