.features-section {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 240px;
}

.features-section h2 {
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 75px;
}

.features-menu {
    display: flex;
    align-items: center;
}

.features-options {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: white;
}

.features-options a {
    display: block;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #7C83FD;
    margin-left: 10px;
    margin-top: 43px;
    margin-bottom: 47px;
    text-decoration: none;
}

.feature1 {
    display: flex;
    align-items: center;
    color: #A1A1A1;
    margin-top: 47px;
    margin-right: 98px;
}

.feature2 {
    display: flex;
    align-items: center;
    color: #A1A1A1;
    margin-top: 47px;
    margin-right: 98px;
}

.feature3 {
    display: flex;
    align-items: center;
    color: #A1A1A1;
    margin-top: 47px;
    margin-right: 98px;
}

.feature1:hover{
    width: fit-content;
    display: flex;
    align-items: center;
    background: linear-gradient(90.42deg, #686868 -26.57%, rgba(104, 104, 104, 0) 94.13%);
    border-radius: 100px;
    padding: 15px 38px 15px 18px;
    margin-top: 41px;
    margin-right: 50px;
    color: white;
}

.feature2:hover{
    width: fit-content;
    display: flex;
    align-items: center;
    background: linear-gradient(90.42deg, #686868 -26.57%, rgba(104, 104, 104, 0) 94.13%);
    border-radius: 100px;
    padding: 15px 38px 15px 18px;
    margin-top: 41px;
    margin-right: 50px;
    color: white;
}

.feature3:hover{
    width: fit-content;
    display: flex;
    align-items: center;
    background: linear-gradient(90.42deg, #686868 -26.57%, rgba(104, 104, 104, 0) 94.13%);
    border-radius: 100px;
    padding: 15px 38px 15px 18px;
    margin-top: 41px;
    margin-right: 50px;
    color: white;
}

.feature-active{
    width: fit-content;
    display: flex;
    align-items: center;
    background: linear-gradient(90.42deg, #686868 -26.57%, rgba(104, 104, 104, 0) 94.13%);
    border-radius: 100px;
    padding: 15px 38px 15px 18px;
    margin-top: 25px;
    margin-right: 50px;
    color: white;
}

.feature:hover .feature-icon {
    border-radius: 50%;
    width: 52px;
    height: 52px;
    background-color: #7C83FD;
    opacity: 0.7;
    margin-right: 25px;

}

.feature-icon-active {
    border-radius: 50%;
    width: 52px;
    height: 52px;
    background-color: #7C83FD;
    opacity: 0.7;
    margin-right: 25px;
}

.feature-icon {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: #686868;
    opacity: 0.7;
    margin-right: 25px;
}

.site-mockup {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    background-position: center center;
    width: 846px;
    height: 474px;
    border: 1px solid white;
    border-radius: 20px;
}

.site-mockup img {
    width: 826px;
    height: 454px;
    border-radius: 20px;
}