.knowmore-content-container {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
}

.knowmore-content-container h2 {
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 71px;
}

.knowmore-content {
    margin-bottom: 133px;
    position: relative;
}

.knowmore-content h3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}
.knowmore-content p {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #686868;
    margin-bottom: 12px;
}

.knowmore-content a {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #7C83FD;
    text-decoration: none;
    transition: 0.2s;
}

.knowmore-content a:hover {
    color: #5a62f9;
}

.knowmore-content ul {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 26px;
    margin-left: 17px;
}

.pointing-dots {
    width: 59px;
    height: 454px;
    border-top: 4px dashed #7C83FD;
    border-left: 4px dashed #7C83FD;
    position: absolute;
    top: 24px;
    left: -76px;
}

.grid-graph {
    background-image: url('../images/grid-graph.png');
    height: 372px;
    width: 100%;
    background-size: 1417.5px 372px;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-bottom: 172px;
}

.graph-style {
    width: 1417.5px;
    height: 372px;
    position: absolute;
    top: 60px;
    background: linear-gradient(180deg, rgba(136, 255, 247, 0.2) 0%, rgba(136, 255, 247, 0) 100%);
    mix-blend-mode: lighten;
    z-index: 0;
    display: flex;
    justify-content: space-between;
}

.graph-style::before {
    content: "";
    width: 514px;
    height: 387.5px;
    background: linear-gradient(125.14deg, #1E1E1E 100%, #88FFF7 0%);
    opacity: 0.9;
    mix-blend-mode: darken;
    z-index: 1;
}

.graph-style::after {
    content: "";
    width: 517px;
    height: 393px;
    background: linear-gradient(125.66deg, #1E1E1E 100%, #88FFF7 0%);
    opacity: 0.9;
    z-index: 1;
    mix-blend-mode: darken;
}