.review-box {
    min-width: 500px;
    min-height: 300px;
    background: rgba(23, 19, 34, 1);
    border-radius: 20px;
    position: relative;
    margin-right: 30px;
    border: 1px solid #171322;
    box-shadow: 0px 5px 14px rgba(8, 15, 52, 0.04);
    border-radius: 20px;
    padding: 43.49px 0px 0px 54.84px;
}

.summary {
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    color: #B897E6;
    margin-bottom: 13.47px;
}

.text {
    max-width: 370px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #B0B0B0;
    margin-bottom: 34.22px;
}

.name {
    font-weight: 700;
    font-size: 18px;
    line-height: 20px;
    color: #B897E6;
}