.solutions-section {
     margin-bottom: 150px;
     position: relative;
     height: 550vh;
}

.solutions-sticky {
    position: sticky;
    top: 0;
    padding-top: 35px;
}

.solutionsSlideWrap {
    display: flex;
    flex-direction: column;
    transition: 0.5s;
}

.solutions-stick::before {
    content: "";
    width: 100%;
    height: 125%;
    background-image: url('../images/solutions-background.png');
    position: absolute;
    top: -40px;
    left: 0;
    background-position: center center;
    background-size: 50%;
}

.solutions-heading {
    font-size: 32px;
    font-weight: 500;
    line-height: 39px;
    letter-spacing: 0em;
    text-align: center;    
    color: white;
    margin-bottom: 77px;
}

.solutions-content-container {
    width: 100%;
    display: flex;
    padding: 0px 40px
}

.solutions-content-animation {
    height: 70vh;
    overflow: hidden;
    width: 55vw;
    display: flex;
    justify-content: center;
}

.solutions-content {
    padding-top: 45px;
    height: fit-content;
    display: inline-block;
}

.solutions-content h2 {
    font-size: 30px;
    font-weight: 500;
    line-height: 37px;
    letter-spacing: 0em;    
    color: white;
    margin-bottom: 53px; 
}

.IGM {
    margin-bottom: 40vh;
}

.ITA {
    margin-bottom: 40vh;
}

.OERP {
    margin-bottom: 40vh;
}

.TMF {
    margin-bottom: 40vh;
}

.ODN {
    margin-bottom: 40vh;
}

.solutions-content li {
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;    
    color: #B897E6;
    max-width: 527px;
    margin-left: 81px;
    list-style: none;
    position: relative;
}

.solutions-content li::before {
    content: "";
    width: 46px;
    height: 46px;
    border: 3px solid #B897E6;
    position: absolute;
    border-radius: 50%;
    left: -81px;
    background-image: url('../images/solutions-check.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50%;
}

.solutions-oneline::before {
    content: "";
    width: 46px;
    height: 46px;
    border: 3px solid #B897E6;
    position: absolute;
    border-radius: 50%;
    left: -81px;
    top: -50%;
    background-image: url('../images/solutions-check.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50%;
}

.solutions-content li:first-child {
    margin-bottom: 47px;
}

.solutions-content li:nth-child(2) {
    margin-bottom: 47px;
}

.solutions-map {
    background-image: url('../images/Solutions/solutions-base-map.svg');
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 570px;
    height: 428px;
    position: relative;
}

.solutions-map-image {
    height: 100%;
    width: 100%;
}

.solutions-map-data {
    width: 160px;
    height: 72px;
    background: #1B1924;
    border-radius: 6px;
    position: absolute;
    top: 22px;
    left: 23px;
    padding-left: 11px;
}

.solutions-map-data h4 {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    color: white;
    margin-bottom: 6px;
    margin-top: 5px;
}

.solutions-map-data p {
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0em;
    color: #B897E6;
    margin-bottom: 7px;
}

.solutions-dots {
    height: 54px;
    border-left: 2px dashed #B897E6;
    position: absolute;
    bottom: -54px;
    left: 79px;
}

.fade {
    animation: fadeAnim 0.5s;
}

@keyframes fadeAnim {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.solutions-map-menu1 {
    width: 40%;
    height: auto;
    filter: drop-shadow(0px 2px 4px rgba(184, 151, 230, 0.22));
    border-radius: 10px;
    position: absolute;
    left: 23px;
    bottom: -51px;
}

.solutions-map-menu2 {
    width: 55%;
    height: auto;
    filter: drop-shadow(0px 2px 4px rgba(184, 151, 230, 0.22));
    border-radius: 10px;
    position: absolute;
    left: 23px;
    bottom: -20px;
}

.solutions-map-menu3 {
    width: auto;
    height: 65%;
    filter: drop-shadow(0px 2px 4px rgba(184, 151, 230, 0.22));
    border-radius: 10px;
    position: absolute;
    left: 23px;
    bottom: -51px;
}

.solutions-map-menu4 {
    width: 60%;
    height: auto;
    filter: drop-shadow(0px 2px 4px rgba(184, 151, 230, 0.22));
    border-radius: 10px;
    position: absolute;
    left: 23px;
    bottom: -20px;
}

.solutions-map-menu5 {
    width: 40%;
    height: auto;
    filter: drop-shadow(0px 2px 4px rgba(184, 151, 230, 0.22));
    border-radius: 10px;
    position: absolute;
    left: 23px;
    bottom: -51px;
}

.solutions-map-menu6 {
    width: 35%;
    height: auto;
    filter: drop-shadow(0px 2px 4px rgba(184, 151, 230, 0.22));
    border-radius: 10px;
    position: absolute;
    left: 23px;
    bottom: -51px;
}

.solutions-buttons {
    font-size: 11px;
    font-weight: 100;
    line-height: 10px;
    letter-spacing: 0em;
    padding-left: 18px;
    color: #9B9A9F;
    padding-top: 8px;
    padding-bottom: 8px;
}

.solutions-buttons:hover {
    color: #B897E6;
    background: linear-gradient(to right, #413853, #1B1924);
}

.solutions-active {
    color: #B897E6;
    background: linear-gradient(to right, #413853, #1B1924);
}

.solutions-pin1 {
    position: absolute;
    top: 12%;
    right: 42%;
    transition: 0.6s;
}

.solutions-pin2 {
    position: absolute;
    top: 35%;
    right: 50%;
    transition: 0.6s;
}

.solutions-pin3 {
    position: absolute;
    top: 50%;
    right: 26%;
    transition: 0.6s;
}

.fade {
    animation: fadeAnim 0.6s;
}

@keyframes fadeAnim {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media only screen and (min-width: 1250px) and (max-width: 1370px) {
    .solutions-content h2 {
        font-size: 28px;
        margin-bottom: 40px; 
    }
    .solutions-content li {
        font-size: 22px
    }
    
    .solutions-content li::before {
        width: 42px;
        height: 42px;
    }
    
    .solutions-content li:first-child {
        margin-bottom: 38px;
    }
    
    .solutions-content li:nth-child(2) {
        margin-bottom: 38px;
    }
  }

  @media only screen and (max-height: 650px) {
    .solutions-section {
        padding-top: 20px;
    }
    .solutions-map {
        width: 434px;
        height: 391px;
    }
  }