.chatbot {
    color: white;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: none;
    font-size: 30px;
    background-color: #B897E6;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 40px;
    bottom: 30px;
    z-index: 100;
    cursor: pointer;
    transition: 0.2s;
}

.chatbot:hover {
    background-color: #a879e8;
}

.chatbox {
    z-index: 101;
    color: white;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: none;
    font-size: 30px;
    background-color: #B897E6;
    position: fixed;
    right: 40px;
    bottom: 30px;
    z-index: 100;
}

.chatbox-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chatbox-header {
    background-color: #B897E6;
    position: relative;
    width: 100%;
    height: 70px;
    border-radius: 10px 10px 0px 0px;
    z-index: 200;
}

.close-chat {
    color: #B897E6;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    border-radius: 0px 10px 0px 10px;
    cursor: pointer;
    transition: 0.2s;
    font-size: 20px;
}

.close-chat:hover {
    background-color: #a879e8;
}

.text-area {
    height: 100%;
    width: 100%;
    position: relative;
    overflow-y: auto;
    padding: 20px 20px 20px 20px;
}

.auto-scroll {
    width: 100%;
    position: sticky;
    top: 355px;
}

.message-receive {
    padding: 5px;
    max-width: 70%;
    font-size: 14px;
    color: rgb(51, 71, 91);
    background-color: rgb(245, 245, 245);
    border-radius: 0px 20px 20px 20px;
    padding: 20px;
    margin-bottom: 10px;
    float: left;
    clear: both;
}

.message-send {
    padding: 5px;
    max-width: 70%;
    font-size: 14px;
    color: white;
    background-color: #B897E6;
    border-radius: 20px 0px 20px 20px;
    padding: 20px;
    margin-bottom: 10px;
    float: right;
    clear: both;
}

.chatbox input {
    width: 90%;
    height: 25px;
    border-radius: 5px;
    border: none;
    width: 100%;
    height: 100%;
    padding-left: 20px;
}

.chatbox input::placeholder {
  font-size: 16px;
  opacity: 0.5;
}

.chatbox form {
  width: 100%;
  height: 50px;
  border-top: 1px #B897E6 solid;
  display: flex;
  align-items: center;
}

.chatbox button {
  width: 50px; 
  height: 50px;
  background-color: #B897E6;
  border: none;
  transition: 0.2s;
}

.chatbox button:hover {
  background-color: #a879e8;
}

.typing {
    position: relative;
    padding: 10px;
    margin-left: 5px;
    background: #e6e6e6;
    border-radius: 0px 20px 20px 20px;
    float: left;
    clear: both;
  }
  
  .typing__dot {
    float: left;
    width: 6px;
    height: 6px;
    margin: 0 4px;
    background: #8d8c91;
    border-radius: 50%;
    opacity: 0;
    animation: loadingFade 1s infinite;
  }
  
  .typing__dot:nth-child(1) {
    animation-delay: 0s;
  }
  
  .typing__dot:nth-child(2) {
    animation-delay: 0.2s;
  }
  
  .typing__dot:nth-child(3) {
    animation-delay: 0.4s;
  }
  
  @keyframes loadingFade {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.8;
    }
    100% {
      opacity: 0;
    }
  }

  .chat-options {
    padding: 8px;
    border: 2px #B897E6 solid;
    color: black;
    display: inline-block;
    font-size: 12px;
    margin-right: 10px;
    cursor: pointer;
    clear: both;
    border-radius: 20px;
    font-weight: 500;
    transition: 0.2s;
  }

  .chat-options:hover {
    background-color: #B897E6;
    color: white;
  }

  .options-list {
    float: left;
    clear: both;
    margin-bottom: 10px;
  }
  